#insidenav{
    background: dodgerblue;
    color: white;
    font-size: 13px;
}

nav a{
    font-size: 16px;
    font-family: ubuntu;
    color: white;
}
nav ul li {
    font-size: 16px;
    font-family: ubuntu;
}


table.table{
    background: transparent;
}
td.tbold{
    font-weight: bold;
}
table{
    background: transparent;
}
#viewmain{
    margin-top: 30px;
}
span.badge{
    background: white;
    color: black;
}

